.object-list {

  width: 100%;
  background-color: inherit;

  .MuiSvgIcon-root{
    fill: #FFF;
    transition: 0.3s;
    &:hover {
      transform:scale(1.2)
    }
  }

  .scale-slider {
    margin-left:15px;
    width:90%;
    .MuiSlider-thumb{
    color: var(--gradient-top);
    }
  }
}
