{
  "extends": ["wesbos"],
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "quotes": ["error", "double"],
    "react/prop-types": 0,
    "prettier/prettier": [
      "error",
      {
        "singleQuote": false
      }
    ],
    "react/destructuring-assignment": [
      <enabled>,
      "always",
      { "ignoreClassFields": true }
    ]
  }
}
