.appearances-bar {
  .custom-paper {
    background-color: #2f2f2f;
    height: 190px;
    width: 100%;
    display: grid;
    grid-template-rows: auto 1fr;
    overflow: hidden;

    .top-bar {
      display: grid;
      grid-template-columns: 140px 1fr;
      grid-auto-flow: column;

      .title-area {
        display: grid;
        justify-content: center;
        align-items: center;
        background: linear-gradient(
          var(--gradient-top),
          var(--gradient-bottom)
        );

        .title {
          color: white;
          text-transform: uppercase;
          margin-block-start: 0;
          margin-block-end: 0;
        }
      }

      .tab-area {
        .MuiTab-root {
          min-width: fit-content !important;
          color: #cecece;
        }

        .Mui-selected {
          background-color: #212121;
          color: white;
          width: max-content !important;
        }

        .MuiTabs-indicator {
          background-color: var(--gradient-top);
          display: none;
        }

        .MuiTab-wrapper {
          padding: 0.65em;
        }
      }

      .search-area {
        .search-button {
          height: 100%;
          border-radius: 0;
        }
      }
    }

    .content-area {
      background-color: #212121;
      overflow: hidden;

      .custom-tab-panel {
        height: 100%;
        // overflow: hidden;

        .custom-tab-content {
          display: grid;
          height: 100%;
          grid-auto-flow: column;
          grid-gap: 2em;
          padding-left: 1em;
          grid-auto-columns: max-content;
          overflow-x: scroll;

          .material {
            width: 90px;
            display: grid;
            align-content: center;
            justify-content: center;
            padding: 0.9em 0.5em;
            grid-gap: 0.6em;
            grid-template-rows: 1fr 34px;
            cursor: pointer;

            img {
              width: 100%;
            }

            .material-label {
              margin-block-start: 0;
              margin-block-end: 0;
              color: white;
              text-align: center;
              font-size: 12px;
              line-height: 14px;
              text-transform: capitalize;
            }
          }
        }
      }
    }
  }
}
