.picture-viewer-dialog {
  .swipe-pictures {
    margin-bottom: 0.6em;

    img {
      max-height: 70vh;
    }
  }

  .screenshot-label {
    margin-top: 0.5em;
    text-transform: capitalize;
  }
}
