.picture-viewer-dialog {
  .MuiPaper-root {
    background-color: #212121;
  }

  .MuiDialogContent-root {
    background-color: #212121;
  }

  .swipe-pictures {
    margin-bottom: 0.6em;

    img {
      max-height: 70vh;
      border-radius: 3px;
    }
  }

  .screenshot-label {
    margin-top: 0.5em;
    text-transform: capitalize;
    color: white;
  }
}
