.navbar {
  .navbar-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
  }

  .text-button {
    color: rgb(196, 196, 196);
    margin-right: 1.5em;

    &:hover {
      color: white;
    }
  }
}
