.navbar {
  .navbar-flex {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
  }

  .text-button {
    color: rgb(196, 196, 196);

    &:hover {
      color: white;
    }
  }

  a {
    margin-left: 1.5em;
    text-decoration: none;
  }
}
