.project-card {
  position: relative;
  // min-width: 100%;
  min-width: 400px;
  max-width: 430px;

  .single-card {
    border: 1px solid #212121;
    background-color: #212121;
    color: white;

    img {
      border-radius: 2px 2px 0 0;
      height: 230px;
    }

    .content-area {
      padding-top: 0.5em;
      padding-bottom: 1.25em;

      .project-name {
        text-transform: capitalize;
      }

      .project-description {
        height: 48px;
        overflow: auto;
        margin-bottom: 1.5em;
      }

      .section {
        padding: 0.75em 0;
        display: flex;
        justify-content: space-between;

        .dates {
          display: grid;
          grid-gap: 0.4em;
        }

        .action-buttons {
          display: grid;
          grid-auto-flow: column;
          grid-gap: 0.75em;
          align-items: center;
          justify-content: center;
          border-left: 1px solid #8a8a8a;
          padding-left: 0.75em;
          padding-right: 0.75em;

          .action-button {
            color: #cecece;
            padding: 0.25em;

            svg {
              font-size: 1.2em;
            }

            &:hover {
              color: white;
              background: linear-gradient(
                var(--gradient-top),
                var(--gradient-bottom)
              );
            }
          }
        }
      }

      .horizontal-divider {
        background-color: #8a8a8a;
        margin-bottom: 1.25em;
      }

      .horizontal-divider-upper {
        background-color: #8a8a8a;
      }

      .open-in-studio {
        width: 100%;
      }
    }
  }

  .confirm-delete-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 5px;
    display: grid;
    align-content: center;
    color: white;
    text-align: center;
    background-color: rgba($color: #000000, $alpha: 0.9);
    padding: 1em;

    .confirm-actions {
      display: grid;
      grid-auto-flow: column;
      justify-content: center;
      grid-gap: 1.75em;
      margin-top: 1em;
    }
  }

  .edit-modal {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 5px;
    display: grid;
    align-content: center;
    color: white;
    text-align: center;
    background-color: #212121;
    padding: 1.5em;

    form {
      display: grid;
      grid-gap: 2em;
      margin-top: 1em;

      label.Mui-focused {
        color: var(--gradient-top);
      }

      .MuiOutlinedInput-root {
        color: white;
        background-color: #2f2f2f;

        & fieldset {
          border-color: #cecece;
        }

        &:hover fieldset {
          border-color: white;
        }

        &.Mui-focused fieldset {
          border-color: var(--gradient-top);
        }

        &.Mui-focused {
          background-color: #212121;
        }
      }

      .MuiFormLabel-root {
        color: white;
      }
    }

    .confirm-actions {
      display: flex;
      justify-content: space-between;
      margin-top: 2em;

      .back-button .MuiButtonBase-root {
        color: #cecece;

        svg {
          font-size: 1.4em;
          margin-right: 0.2em;
        }

        &:hover {
          color: white;
          background-color: #212121;
        }
      }
    }
  }
}
