.studio-top-bar {
  padding-top: 1em;

  .custom-paper {
    background-color: #2f2f2f;
    height: 60px;
    display: grid;
    padding: 0 1.5em;
    align-items: center;
    text-transform: capitalize;

    .top-bar-grid {
      display: grid;
      grid-auto-flow: column;

      .top-bar-center {
        display: grid;
        justify-content: center;
      }
    }
  }
}
