.avatar-popover-content {
  $color-top: #f45c43;
  $color-bottom: #eb3349;

  width: 230px;
  height: 260px;
  display: grid;
  grid-template-rows: 3fr 0.8fr 1.5fr;
  justify-items: center;
  align-items: center;

  background: linear-gradient($color-top, $color-bottom);

  .user-info {
    display: grid;
    align-content: center;
    grid-gap: 1em;
    justify-items: center;
    width: 100%;
    height: 100%;

    .large-avatar {
      width: 70px;
      height: 70px;
      box-shadow: 0 0 5px 0 rgba($color: #000000, $alpha: 0.3);
    }
  }

  .link-to-profile {
    width: 100%;
    height: 100%;
    border-top: 1px solid black;
    border-bottom: 1px solid black;
    border-radius: 0;
    text-transform: capitalize;

    .MuiButton-label {
      text-align: left;
    }
  }

  .sign-out-button {
    border: 1px solid black;
    text-transform: capitalize;
  }
}
