// .text-color-grad {
//   background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
//   -webkit-background-clip: text;
//   -webkit-text-fill-color: transparent;
// }

.gradient-button .MuiButton-containedPrimary {
  background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
  &:hover {
    background: linear-gradient(
      var(--gradient-top-darker),
      var(--gradient-bottom-darker)
    );
  }
}

.cancel-button .MuiButton-containedPrimary {
  $color1: #69d13a;
  $color2: #5cb235;

  background: linear-gradient($color1, $color2);
  &:hover {
    background: linear-gradient(
      darken($color1, $amount: 5),
      darken($color2, $amount: 5)
    );
  }
}

.center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}
