.profile-page {
  width: 100%;
  display: grid;
  padding-top: 2em;

  grid-template-rows: 200px;
  grid-gap: 2em;
  min-height: 96vh;
  grid-template-rows: 230px 200px 200px;

  .background {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100% !important;
    z-index: -3;

    canvas {
      height: 100% !important;
      border-radius: 0;
    }
  }

  .top-section {
    display: grid;
    grid-template-areas: "empty picture theme";
    grid-auto-columns: 1fr;

    .picture-container {
      grid-area: picture;
      display: grid;
      align-content: center;
      justify-content: center;
      justify-items: center;
      grid-gap: 1em;

      .profile-picture {
        height: 140px;
        width: 140px;
        border-radius: 75px;
        box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
      }

      .upload-pic-button {
        color: white;
      }
    }

    .theme-selector-area {
      grid-area: theme;
      display: grid;
      justify-content: right;
      align-content: flex-start;

      .title {
        font-weight: 500;
        margin-block-start: 0;
        margin-block-end: 0.5em;
        color: white;
      }

      #theme {
        // border: 1px solid var(--gradient-top);
        padding-left: 0.75em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        padding-right: 2.5em;
        background: linear-gradient(
          var(--gradient-top),
          var(--gradient-bottom)
        );

        box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.3);

        &:hover {
          box-shadow: 0 0 5px rgba($color: #000000, $alpha: 0.4);
        }

        color: white;
        border-radius: 5px;
        overflow: hidden;
        width: max-content;
        text-transform: capitalize;
        font-size: 15px;
      }
      svg {
        margin-right: 0.25em;
        color: white !important;
      }
    }
  }

  .MuiInput-underline {
    &::before,
    &::after {
      border: none;
    }
  }

  .MuiInput-underline:hover:not(.Mui-disabled):before {
    border-bottom: none;
  }

  .middle-section {
    .user-info {
      padding: 1em;
      height: max-content;
      background-color: #545454;
      display: grid;
      grid-gap: 1em;
    }
  }

  .bottom-section {
    display: grid;
    grid-gap: 1em;
    grid-auto-flow: column;
    justify-content: center;

    .delete-account-button .MuiButton-root {
      background: linear-gradient(#2f2f2f, #212121);
      &:hover {
        background: linear-gradient(#545454, #2f2f2f);
      }
    }

    .gradient-button {
      .Mui-disabled {
        color: white !important;
        opacity: 0.5;
        cursor: not-allowed !important;
      }
    }

    .disabled {
      opacity: 0.5;
      cursor: not-allowed;

      &:hover {
        background: linear-gradient(
          var(--gradient-top),
          var(--gradient-bottom)
        );
        box-shadow: none !important;
      }
    }
  }
}

.cancel-delete-account,
.cancel-upload-picture {
  color: #cecece !important;
  &:hover {
    color: white !important;
  }
}

.confirm-delete-account,
.confirm-upload-picture {
  background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
  color: white !important;
  &:hover {
    background: linear-gradient(
      var(--gradient-top-darker),
      var(--gradient-bottom-darker)
    );
  }
}

.delete-account-dialog {
  .MuiPaper-root {
    background-color: #212121;
    color: white;
    padding: 0.5em;
  }
}

.MuiMenu-list {
  li {
    text-transform: capitalize;
  }
}

.upload-picture-dialog {
  .MuiPaper-root {
    width: 500px;
    padding-top: 1em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.5em;
    background-color: #212121;

    .upload-picture-drop {
      background-color: #171717;
      display: grid;
      align-items: center;
      border: 1px solid var(--gradient-top);
      border-radius: 4px;
      margin-bottom: 0.5em;

      &:focus {
        outline-color: var(--gradient-top);
      }

      svg {
        fill: url(#gradient-vertical);
        width: 70px;
        height: 70px;
        margin-top: -10px;
      }
    }
  }
}
