.studio-page {
  .custom-grid {
    display: grid;
    grid-gap: 1em;
    padding-bottom: 8em;

    .working-area {
      display: grid;
      grid-template-columns: auto 1fr;
      height: calc(100vh - 3em - 60px - 64px);
      grid-gap: 1em;

      .sub-working-area {
        display: grid;
        grid-gap: 1em;
        grid-template-rows: 1fr;

        .canvas-and-controls-area {
          display: grid;
          grid-auto-flow: column;
          grid-template-columns: auto 1fr auto;
          grid-gap: 1em;
          grid-template-areas: "extra-controls canvas-area view-controls";
          align-items: center;

          .view-controls {
            grid-area: view-controls;
          }

          .extra-controls {
            grid-area: extra-controls;
          }

          .edit-canvas,
          .media-canvas {
            grid-area: canvas-area;
          }
        }
      }
    }
  }
}
