.part-canvas-area {
  width: 300px;
  height: 190px;

  .custom-paper {
    width: 100%;
    height: 100%;
    background-color: #212121;
    display: grid;
    padding: 0.8em;

    .canvas-container {
      width: 100%;
      background-color: white;
      border-radius: 4px;
      overflow: hidden;
    }
  }
}
