.screenshots-bar {
  .custom-paper {
    background-color: #212121;
    width: 100%;
    height: 140px;
    display: grid;
    padding: 1em;
    grid-gap: 0.25em;
    overflow: hidden;
    .title {
      margin-block-start: 0;
      color: white;
      text-transform: uppercase;
      font-size: 16px;
    }

    .screenshots {
      overflow-x: scroll;
      overscroll-behavior-x: none;
      overflow-y: hidden;
      display: grid;
      grid-auto-flow: column;
      grid-gap: 1em;
      align-items: center;
      padding-left: 0.3em;

      .screenshot-image {
        width: 200px;
        border-radius: 3px;
      }
    }
  }
}
