.new-project-modal {
  .MuiPaper-root {
    max-width: 50vw;
    width: 60vw;
    color: #fff;
    background-color: #212121;
  }
  label,
  input {
    color: #fff;
  }

  .MuiInput-underline::before {
    border-bottom: 2px solid #fff;
  }

  .MuiInput-underline::after {
    border-bottom: 2px solid var(--gradient-top);
  }
  .MuiFormLabel-root.Mui-focused {
    color: var(--gradient-top);
  }

  [class^="DropzoneArea"] {
    background-color: #171717;
  }

  .new-project-btn {
    color: #fff;
    transition: 0.3s;
    &:hover {
      color: var(--gradient-top);
      transform: scale(1.1);
    }
  }
}
