:root {
  --base-top-first: 8;
  --base-top-second: 89%;
  --base-top-third: 61%;

  --base-bottom-first: 353;
  --base-bottom-second: 82%;
  --base-bottom-third: 56%;

  --gradient-top: hsl(
    var(--base-top-first),
    var(--base-top-second),
    var(--base-top-third)
  );
  --gradient-bottom: hsl(
    var(--base-bottom-first),
    var(--base-bottom-second),
    var(--base-bottom-third)
  );

  --darkness: 20%;

  --gradient-top-darker: hsl(
    var(--base-top-first),
    var(--base-top-second),
    calc(var(--base-top-third) - var(--darkness))
  );
  --gradient-bottom-darker: hsl(
    var(--base-bottom-first),
    var(--base-bottom-second),
    calc(var(--base-bottom-third) - var(--darkness))
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
