:root {
  --top-first: 8;
  --top-second: 89%;
  --top-third: 61%;

  --bottom-first: 353;
  --bottom-second: 82%;
  --bottom-third: 56%;

  --gradient-top: hsl(var(--top-first), var(--top-second), var(--top-third));
  --gradient-bottom: hsl(
    var(--bottom-first),
    var(--bottom-second),
    var(--bottom-third)
  );

  --darkness: 10%;

  --gradient-top-darker: hsl(
    var(--top-first),
    var(--top-second),
    calc(var(--top-third) - var(--darkness))
  );
  --gradient-bottom-darker: hsl(
    var(--bottom-first),
    var(--bottom-second),
    calc(var(--bottom-third) - var(--darkness))
  );
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

canvas {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
