.view-controls {
  .button-group-custom {
    width: 100%;
    background-color: #212121;

    .MuiButton-root {
      .MuiButton-label {
        width: 100%;
        display: grid;
        align-items: center;
        align-content: center;
        justify-content: center;
        justify-items: center;
        grid-gap: 0.75em;
        font-size: 9px;
        padding: 0.25em 0;

        svg {
          stroke: white;
          fill: #adadad;
          stroke-linecap: butt;
          width: 20px;
          height: 20px;
        }
      }

      &:hover,
      &.selected {
        background: linear-gradient(
          var(--gradient-top),
          var(--gradient-bottom)
        );
      }
    }
  }
}
