.configuration-selector {
  display: grid;
  color: white;

  .gradient-button {
    border-radius: 20px !important;
    overflow: hidden;

    .MuiButton-label {
      color: white;
    }
  }
}

.configuration-selector-popover {
  margin-top: 0.5em;

  .configuration-selector-popover-content {
    background-color: #212121;
    width: 260px;
    height: 300px;
    display: grid;
    grid-template-rows: 1fr auto;
    grid-gap: 1em;
    padding: 1em;

    .configuration-options {
      border: 1px solid #757575;
      border-radius: 5px;
      overflow: auto;

      .configuration-option {
        display: grid;
        grid-template-columns: 1fr auto;
        background-color: #2e2e2e;
        color: white;
        padding: 0 1em;
        border-bottom: 1px solid #212121;
        align-items: center;
        cursor: pointer;

        &:hover,
        &.selected {
          background: linear-gradient(
            var(--gradient-top),
            var(--gradient-bottom)
          );
        }

        .configuration-name {
          font-weight: 500;
          text-transform: capitalize;
        }

        .delete-configuration-button {
          color: #cecece;

          svg {
            padding: 0.1em;
          }

          &:hover {
            color: white;
          }
        }
      }
    }

    .add-configuration-area {
      display: grid;
      justify-content: center;

      .gradient-button {
        .MuiButton-root {
          width: calc(260px - 2em);
        }

        .MuiButton-label {
          color: white;
        }
      }
    }
  }
}

.create-configuration-dialog {
  .MuiPaper-root {
    background-color: #212121;
    color: white;
    padding: 0.5em;
    width: 500px;
  }

  .cancel-create-configuration {
    color: #cecece !important;
    &:hover {
      color: white !important;
    }
  }

  .confirm-create-configuration {
    background: linear-gradient(var(--gradient-top), var(--gradient-bottom));
    color: white !important;
    &:hover {
      background: linear-gradient(
        var(--gradient-top-darker),
        var(--gradient-bottom-darker)
      );
    }
  }

  .dialog-title {
    padding-bottom: 0em;

    h2 {
      margin-block-end: 0em;
    }
  }

  .MuiFormControl-root {
    color: white !important;
    .MuiFormLabel-root {
      color: white;
      .name-field {
        margin-bottom: 1em;
      }
    }

    .MuiInput-underline:before {
      border-color: white;
    }

    &:hover {
      .MuiFormLabel-root {
        color: var(--gradient-top);
      }

      .MuiInput-underline:before {
        border-color: var(--gradient-top);
      }
    }

    .MuiInput-root {
      color: white !important;
    }
  }

  .Mui-focused,
  .MuiFormLabel-filled {
    color: var(--gradient-top) !important;

    .MuiInput-underline:before,
    .MuiInput-underline:after {
      border-color: var(--gradient-top) !important;
    }
    .MuiFormLabel-root {
      color: var(--gradient-top) !important;
    }

    .MuiInput-underline:before {
      border-color: var(--gradient-top) !important;
    }
  }

  .checkbox-area {
    margin-top: 0.5em;
  }

  svg {
    height: 20px;
    fill: url(#gradient-vertical);
  }

  input {
    height: 30px;
  }
}
