.objects-bar {
  .custom-paper {
    color:#fff;
    background-color: #2f2f2f;
    height: 130px;
    width: 100%;
    display: grid;
    grid-auto-flow: column;
    grid-gap: 2em;
    align-items: center;
    padding-left: 2em;
    grid-auto-columns: max-content;

    .material {
      height: 90px;
      width: 90px;
      display: grid;
      align-items: center;
      justify-content: center;
      padding: 0.5em;
      text-align: center;
      border-radius: 45px;
      box-shadow: 0 0 4px rgba($color: #000000, $alpha: 0.4);
    }

    .sphere {
      background-image:url('/assets/w-sphere.png');
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-position: center; 
      background-size: contain;

    }

    .gold {
      background-color: gold;
    }

    .purple {
      background-color: purple;
    }
  }
}
